@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "accent";
    src: url("/assets/font/Cleo_Folk/Cleo_Folk_Demo.ttf");
  }
  @font-face {
    font-family: "accent-oulined";
    src: url("/assets/font/Cleo_Folk/Cleo_Folk_Outlined_Demo.ttf");
  }
}


.banner {
  background-image: url('/assets/img/banner/banner.png');
  background-repeat: no-repeat;
  background-position: right;
}

.glow {
  animation: glow 1s ease-in-out infinite;
}

@keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff,
      0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
  }

  to {
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff,
      0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
  }
}

.afterIcon {
  top: -5px;
  right: -5px;
}